---
name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: jpetrucciani/mypy-check@master
        with:
          path: gamble
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: jpetrucciani/black-check@master
  ruff:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: jpetrucciani/ruff-check@main
  tests:
    runs-on: ubuntu-22.04
    needs: [mypy, black, ruff]
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
    name: python ${{ matrix.python-version }} tests
    steps:
      - uses: actions/checkout@v4.1.1
      - run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'poetry'
      - run: poetry install
      - run: pytest ./tests -s --cov gamble --cov-report html --cov-report term --cov-report xml:coverage.xml --junitxml=report.xml
