---
name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  archives:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: jpetrucciani/archives-check@main
        with:
          path: 'gamble/'
  prospector:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: jpetrucciani/prospector-check@master
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: jpetrucciani/mypy-check@master
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: jpetrucciani/black-check@master
  ruff:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: jpetrucciani/ruff-check@0.0.227
  tests:
    runs-on: ubuntu-22.04
    needs: [archives, mypy, prospector, black, ruff]
    strategy:
      matrix:
        python-version: ['3.10', '3.11']
    name: python ${{ matrix.python-version }} tests
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: install requirements
        run: pip install -r requirements.dev.txt
      - name: run Tox
        run: tox -e py
